
@{
    ViewBag.Title = "AreaAdministrativa";

    
        @Html.ActionLink("Lista de Usuario cadastrado", "Index", "Usuario")

    @Html.ActionLink("Lista de Alunos Cadastrado","Index","Aluno")
    
}

<h2>AreaAdministrativa</h2>

