@{
    ViewBag.Title = "Home Page";
}



<div class="bg-header">
    <br>

    <div class="container intro">
        <h1>Security Contol é referência em <span>Controle de acesso</span></h1>
        <br />
        <Center><img src="~/IMG/Controler acesso- catracas.jfif" width="1000px" height="500px"></Center>
        <br />
        <p>A Security Contol uma empresa especializada em controle de acesso e aliando essas duas frentes, 
        atende com instalação de sistema de controle de acesso. Atendemos ainda com produção e suporte técnico no seguimento de controle de acesso,
        tais como , Catraca Biométrica, Controle de Ponto, Relógio de Ponto, cancelas automáticas, Leitor de Proximidade e portões automáticos.</p>


    </div>

</div>