
@{
    ViewBag.Title = "IndexRM";
}

<h2>IndexRM</h2>


@using (Ajax.BeginForm("BuscarRM", "Aluno", new AjaxOptions { HttpMethod = "POST", OnSuccess = "OnSuccess" }, new { @role = "form" }))
{
    <div class="form-horizontal">
        @Html.AntiForgeryToken()

        <div class="form-group">

            @Html.Label("rm", "RM", htmlAttributes: new { @class = "control-label col-md-2" })

            <div class="col-md-10">
                @Html.TextBox("rm", "RM", new { @class = "form-control", @maxlength = "15" })
                @Html.ValidationMessage("rm", "", new { @class = "text-danger" })

            </div>

        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Pesquisar" class="btn btn-default" />

            </div>

        </div>

    </div>
    //JS
    <script>
function OnSuccess(responsive) {
     alert(responsive.nome);
}
    </script>


}
